@import '~bootstrap/less/bootstrap';
@import './directives/timepicker/timepicker.scss';
@import './modules/bodyInfo/bodyInfo.scss';
@import './modules/main/main.scss';
body {
  background-color: #ff0000!important;
}
body {
  background-color: #ff0000;
}

.sliderExample {
  z-index: 1000;
}

canvas {
  display: none;
}
/* begin: global bootstrap LESS override */
/* end: global bootstrap LESS override */