.uicontrols {
  opacity: 0;
  transition: opacity 1s;

  &--enabled {
    opacity: 1;
  }

  &--disabled {
    opacity: 0;
  }

  &__button {
    background-color: #fff;
    width: 32px;
    height: 32px;
    display: block;
    margin: 1em;
  }

  &__control {
    position: absolute;
    opacity: 0.5;
    transition: opacity 0.5s;
    
    &:hover {
      opacity: 1;
    }

    &--datetime {
      top: 0;
      right: 0;
    }

    &--target-label {
      top: 0;
      left: 0;
      right: 0;
      padding: 1em;
      text-align: center;
      pointer-events: none;
    }

    &--modal-opener {
      opacity: 1;
      pointer-events: auto;
      font-family: Georgia, serif;
      font-size: 1.5em;
      transition: text-shadow 0.5s;
      color: #fff;
      cursor: pointer;

      &:hover {
        text-shadow: 1px 1px 10px #fff;
      }
    }
    
    &--scales {
      bottom: 0;
      right: 0;
      pointer-events: none;
    }
    
    &--left-bar {
      left: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
