@import 'globals.scss';

.stats {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__info {
    flex: 1;
    line-height: $font-line-height;
  }

  &__content {
    overflow: auto;
    line-height: $font-line-height;
    flex: 1;

    &::-webkit-scrollbar {
      width: 5px;

      &-thumb {
        border-radius: 2px;
        background-color: transparent;
      }
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: #808080;
      }
    }
  }
  
  &__footer {
    padding-top: $base-spacing / 2;
    border-top: $dotted-border;
    display: flex;
  }
}