body {
  padding: 0;
  margin: 0;
  overflow: hidden; }

html, body {
  height: 100%; }

/* slider var names are w.r.t. a horizontal orientation */
.slider {
  flex: 1;
  margin: auto;
  padding-bottom: 0.75em; }
  .slider--horizontal {
    height: 36px; }
  .slider--vertical {
    width: 36px; }
  .slider__label {
    box-sizing: border-box;
    display: block;
    margin: 1em 0;
    color: #000; }
  .slider__container {
    background-color: #000;
    color: #000; }
    .slider__container--horizontal {
      width: 100%;
      height: 4px;
      margin-top: 16px;
      cursor: ew-resize; }
    .slider__container--vertical {
      height: 100%;
      width: 4px;
      margin-left: 16px;
      cursor: ns-resize; }
  .slider__handle {
    text-align: center;
    background-color: #000;
    font-size: 0;
    cursor: pointer; }
    .slider__handle--horizontal {
      width: 6px;
      height: 32px;
      margin-top: -14px;
      cursor: ew-resize; }
    .slider__handle--vertical {
      width: 32px;
      height: 6px;
      margin-left: -14px;
      cursor: ns-resize; }
  .slider__bar {
    position: relative; }

.uicontrol {
  position: absolute;
  opacity: 0.5;
  transition: opacity 0.5s; }
  .uicontrol:hover {
    opacity: 1; }
  .uicontrol__button {
    background-color: #000;
    width: 32px;
    height: 32px;
    display: block;
    margin: 1em; }
  .uicontrol--scales {
    min-width: 200px;
    padding: 0 1.25em 1.5em;
    bottom: 0;
    right: 0;
    color: #fff; }
  .uicontrol--left-bar {
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column; }
