body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html, body {
  height: 100%;
}

@import 'components/label';
@import 'components/slider';
@import 'components/datepicker';
@import 'components/tourLabel';
@import 'components/spinLabel';
@import 'containers/uicontrols';
@import 'containers/loader';
@import 'containers/tour';
@import 'containers/spinLabel';
